<canvas id="2" width="400" height="400"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('2').getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{keys| safe}},
            datasets: [{
                label: '# of Votes',
                data: {{values | safe}},
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Chart Vaccins avec la methode Promethee 2 (critére-Sou critére)'
                },
                legend: {
                display: true,
                position:'bottom',
                labels: {
                    color: 'rgb(255, 99, 132)',
                    font: {
                        size: 14
                    }
                },
                title:{
                    display: true,
                    font: {
                        size: 14
                    },
                    text:'Votes Critére'
                }
            }
            
            },
            
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x:{
                    grid:{display:false}
                },
                y: {
                    beginAtZero: true,
                    grid:{display:false}    
                }
                
            },
            animation : {
                duration:6000,
                easing: 'easeInOutBounce'
            }
        }
    });
</script>