<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Salam </h1> 

   <form id="inputField" role="form" method="POST">
       {% csrf_token %}
    <!-- <span style="margin: 27px">/</span>
    {% for critererow in criteres %}
      <input style="width: 20%;" type="text" value='{{critererow}}' disabled size="3">
    {% endfor %}
    <br> -->
    {% for critererow in criteres %}
    {{ critererow }}
      {% for criterecol in criteres %}
        <input type="number" value='' required name="{{critererow}}-{{criterecol}}" size="3">
      {% endfor %}
      <br>  
    {% endfor %}
    <br>
    <!-- <input type="submit" class="btn btn-info" value="Envoyer le formulaire"> -->
    <button type="submit" class="btn btn-info" name = "btn_submit">Submit</button>
    
    </form>
</body>
</html>