<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <title>Api2</title>
</head>

<body>
    <nav>
        <div>
            <button type="submit" class="btn btn-primary" id="sign_btn" onclick="my()"> Sign in</button>
            <button type="button" class="btn btn-primary" onclick="myFunction()">Login</button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script>
                function myFunction() {
                console.log("hello every one from login");
                alert("hello every one from login");
            }
            </script>
            <script>
                function my() {
                    console.log("hello every one from signi");
                    alert("hello every one from signi")
                }
            </script>
            
          </div>
    </nav>
    <strong>Live By Country And Status</strong>
    <p>play 1.0</p>
    <br>
    
    {{response}}
    <!-- <table>
        {% for i in data%}
            <tr>
                <td>{{i.deaths}}</td>
                <td>{{i.date}}</td>
            </tr>
        {% endfor %}
    </table> -->
</body>

</html>