<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>


    <title>Data</title>
</head>

<body>
    <h1>Data </h1>
    <!-- {{genders.male }} -->
    {{sexe_values}}
    {{sexe}}
    
    <br>
    <br>
    <h4>hjh</h4>
    {{ target_weights }} <br>
    <table>
        {% for key, value in dictonary_items %}
        <!-- <p>key :</p>
        {{key}}
        <p>values :</p>
        {{value}}
        <br> -->
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        <!-- <tr>
                <td>{{value}}</td>
            </tr> -->
        <!-- ToDo : save in table and sort the result -->
        {% endfor %}
    </table>
    {% include "chart1.html"%}
    <br>
    <br>
    <br>
    <div>
        <h1>Test</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Beatae alias dolorem ea unde, reiciendis natus mollitia.
            Animi iusto minima cumque facere repellat nam quis, iure,
            dolorum accusantium quam est odit.</p>
    </div>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            This is some text within a card body.
            {% include "chart2.html"%}
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- BarChart -->
    <h1>Chart 4 </h1>
    <!-- tester -->
    {{date_all | safe}}
    {{females | safe}}
    {{males | safe}}
    <!-- Chart 4 -->
    <canvas id="4" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('4').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['14-03-1997', '14-04-1997', '14-05-1997', '14-05-1997', '14-06-1997', '14-07-1997'],
        datasets: [{
            label: 'male',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },
        {
            label: '# female',
            data: [14, 2, 13, 5, 12, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }
    ]
    },
    options: {
        scales: {
            
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

</body>

</html>