<table class="bc-table bc-table-web">
    <thead>
        <tr class="bc-platforms">
            <td></td>
            <th class="bc-platform-desktop" colspan="6"><span>desktop</span></th>
            <th class="bc-platform-mobile" colspan="6"><span>mobile</span></th>
        </tr>
        <tr class="bc-browsers">
            <td></td>
            <th class="bc-browser-chrome"><span class="bc-head-txt-label bc-head-icon-chrome">Chrome</span></th>
            <th class="bc-browser-edge"><span class="bc-head-txt-label bc-head-icon-edge">Edge</span></th>
            <th class="bc-browser-firefox"><span class="bc-head-txt-label bc-head-icon-firefox">Firefox</span></th>
            <th class="bc-browser-ie"><span class="bc-head-txt-label bc-head-icon-ie">Internet Explorer</span></th>
            <th class="bc-browser-opera"><span class="bc-head-txt-label bc-head-icon-opera">Opera</span></th>
            <th class="bc-browser-safari"><span class="bc-head-txt-label bc-head-icon-safari">Safari</span></th>
            <th class="bc-browser-webview_android"><span class="bc-head-txt-label bc-head-icon-webview_android">WebView
                    Android</span></th>
            <th class="bc-browser-chrome_android"><span class="bc-head-txt-label bc-head-icon-chrome_android">Chrome
                    Android</span></th>
            <th class="bc-browser-firefox_android"><span class="bc-head-txt-label bc-head-icon-firefox_android">Firefox
                    for Android</span></th>
            <th class="bc-browser-opera_android"><span class="bc-head-txt-label bc-head-icon-opera_android">Opera
                    Android</span></th>
            <th class="bc-browser-safari_ios"><span class="bc-head-txt-label bc-head-icon-safari_ios">Safari on
                    iOS</span></th>
            <th class="bc-browser-samsunginternet_android"><span
                    class="bc-head-txt-label bc-head-icon-samsunginternet_android">Samsung Internet</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>table</code></div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>align</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>bgcolor</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>border</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>cellpadding</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>cellspacing</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>frame</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>rules</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>summary</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="bc-table-row-header"><code>width</code>
                    <div class="bc-icons"><abbr class="only-icon"
                            title="Deprecated. Not for use in new websites."><span>Deprecated</span><i
                                class="ic-deprecated"></i></abbr></div>
                </div>
            </th>
            <td class="bc-browser-chrome bc-supports-yes " aria-expanded="false" title="Released 2008-12-11"><span
                    class="bc-browser-name">Chrome</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-edge bc-supports-yes " aria-expanded="false" title="Released 2015-07-28"><span
                    class="bc-browser-name">Edge</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>12<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox bc-supports-yes " aria-expanded="false" title="Released 2004-11-09"><span
                    class="bc-browser-name">Firefox</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-ie bc-supports-yes " aria-expanded="false"><span class="bc-browser-name">Internet
                    Explorer</span><abbr class="bc-level-yes only-icon" title="Full support"><span>Full
                        support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-webview_android bc-supports-yes " aria-expanded="false" title="Released 2008-09-23">
                <span class="bc-browser-name">WebView Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>1<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-chrome_android bc-supports-yes " aria-expanded="false" title="Released 2012-06-27">
                <span class="bc-browser-name">Chrome Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>18<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-firefox_android bc-supports-yes " aria-expanded="false" title="Released 2011-03-29">
                <span class="bc-browser-name">Firefox for Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>4<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-opera_android bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Opera Android</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-safari_ios bc-supports-yes " aria-expanded="false"><span
                    class="bc-browser-name">Safari on iOS</span><abbr class="bc-level-yes only-icon"
                    title="Full support"><span>Full support</span></abbr>Yes<div class="bc-icons"></div>
            </td>
            <td class="bc-browser-samsunginternet_android bc-supports-yes " aria-expanded="false"
                title="Released 2013-04-27"><span class="bc-browser-name">Samsung Internet</span><abbr
                    class="bc-level-yes only-icon" title="Full support"><span>Full support</span></abbr>1.0<div
                    class="bc-icons"></div>
            </td>
        </tr>
    </tbody>
</table>