{% extends 'layouts/base.html' %}

{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
{% load static %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="border-radius: 10px;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="max-height: 450px; min-width: auto;"border-radius: 10px;>
                        <img class="d-block w-100"
                            src="{% static 'assets/img/brand/image_nave-1000x400.jpg' %}" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                           
                        </div>
                    </div>
                    <div class="carousel-item" style="max-height: 450px; min-width: auto;">
                        <img class="d-block w-100" src="{% static 'assets/img/brand/Vaccine-02.jpg' %}" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                        
                        </div>
                    </div>
                    <div class="carousel-item"style="max-height: 450px; min-width: auto;">
                        <img class="d-block w-100"
                            src="{% static 'assets/img/brand/spencer-davis--lZk0QrsrV8-unsplash.jpg' %}" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <br>
    

    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title">Notre Site :</h1>
            <p class="card-text">L'objectif de notre site est de faciliter les tâches au équipes médicales
                donc on propose un système d’aide à la décision en vue de choisir quel vaccin à mettre en place lors d’une campagne de vaccination. </p>
   </p>

        </div>
    </div>
    <br>
    <br>
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title">C'est quoi le vaccin :</h1>
            {% load static %}
            <p class="card-text"><img src="{% static 'assets/img/theme/new_avatar.png' %}" alt="avatar"
                    style="width:270px;height:270px;margin-left:10px; margin-right: 25px; float:left">
                <br> <br> <br> La vaccination (ou l’immunisation) protège contre la maladie en introduisant dans l’organisme un vaccin qui 
                déclenche la production d’anticorps, comme si l’on était exposé à la maladie naturellement. Le vaccin contient les mêmes antigènes 
                ou parties d’antigènes que ceux qui causent la maladie, mais les antigènes des vaccins sont tués ou très affaiblis. Les vaccins fonctionnent 
                en faisant croire à l’organisme qu’il est attaqué par une maladie.</p>

        </div>
    </div>

    <br>
    <br>
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title">Qui peut se faire vacciner contre la Covid-19 ? </h1>
            <p class="card-text">Toutes les personnes de plus de 18 ans résidant en France sont éligibles 
            à la vaccination contre la Covid-19.</p>
            <p>
                Par ailleurs, certaines personnes des moins de 18 ans peuvent d'ores et déjà se faire vacciner :
                <br>
                <ul>
                    <li>Les personnes de 16 à 18 ans inclus souffrant d’une pathologie à très haut risque de forme grave de Covid-19 
                        (cancers et maladies hématologiques malignes en cours de traitement par chimiothérapie, maladies rénales
                         chroniques sévères, transplantées d’organes solides, transplantées par allogreffe de cellules souches
                          hématopoïétiques, poly-pathologies chroniques et présentant au moins deux insuffisances d’organes, 
                          certaines maladies rares et particulièrement à risque en cas d’infection, trisomie 21, mucovisidose) ;</li>
                    <li>
                        Les femmes enceintes à partir du 2e trimestre de grossesse ;
                    </li>      
                    <li>
                        Les personnes de plus de 16 ans vivant dans le même foyer qu’une personne sévèrement immunodéprimée, 
                        enfant ou adulte (transplantés d’organes solides, transplantés récents de moelle osseuse récents, 
                        patients dialysés, patients atteints de maladies auto-immunes sous traitement immunosuppresseur 
                        fort de type anti-CD20 ou anti-métabolites) ;
                    </li>
                </ul>
            </p>
            <br>
            <p>
                * Ces informations sont susceptibles d'évoluer en fonction de la situation sanitaire. Tous les 
                détails sont disponibles sur le site
                <a href="https://solidarites-sante.gouv.fr/grands-dossiers/vaccin-covid-19/" target="_blank" rel="noreferrer">
                    https://solidarite-sante.gouv.fr</a> 
            </p>
            
        </div>
<br>
<br>
<br>

{% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}