{% extends 'layouts/base.html' %} 

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>{% endblock stylesheets %}
{% block content %}

<!-- Header -->

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <p style="color: white;">Date de données: <span>{{date_de_donner}}</span></p>
            <br>
            
            <!-- Card stats -->
            <div class="row">
                <!-- Confirmed -->
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="card-body">
                            <div class="row" >
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">cas confirmés</h5>
                                    <span class="h2 font-weight-bold mb-0">{{response.confirmed}}</span>

                                </div>

                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-virus"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2">nouveaux confirmés {{response.newConfirmed}} <br>
                                    moyenne confirmée</span>
                                <span class="text-nowrap">{{response.avg7Confirmed}}</span>
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Recoverd -->
                <div class="col-xl-3 col-lg-6">{%  comment%} box shadow  added{% endcomment %}
                    <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">guérison</h5>
                                    <span class="h2 font-weight-bold mb-0">{{response.recovered}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                        <i class="fas fa-briefcase-medical"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-danger mr-2">nouveaux rétablis{{response.newRecovered}} <br>
                                    moyenne confirmée</span>
                                <span class="text-nowrap">{{response.avg7Recovered}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Deaths -->
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">morts</h5>
                                    <span class="h2 font-weight-bold mb-0">{{response.deaths}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                                        <i class="fas fa-skull-crossbones"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-danger mr-2">Nouveaux décès    {{response.newDeaths}} <br> moyenne des décès</span>
                                <span class="text-nowrap">{{response.avg7Deaths}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Treatment -->
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Traitement</h5>
                                    <span class="h2 font-weight-bold mb-0">{{response.treatment}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-virus-slash"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2">nouveux traités{{response.newTreatment}} <br>
                                   moyenne traitements</span>
                                <span class="text-nowrap">{{response.avg7Treatment}}</span>
                            </p>
                        </div>
                        <!--  -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card bg-gradient-default shadow"style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-light ls-1 mb-1">cas confirmés</h6>
                            <h2 class="text-white mb-0">données répartis par sexe</h2>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"
                                    data-update='{"data":{"datasets":[{"data":[12, 19, 3, 5, 2, 3]}]}}'>
                                    <!-- data-prefix="$" data-suffix="k"> -->
                                    <!-- hada mzl mn b3d nkhdmh -->
                                    <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab" id="male">
                                        <span class="d-none d-md-block">Males</span>
                                        
                                    </a> 
                                </li>
                                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"
                                    data-update='{"data":{"datasets":[{"data":[12, 19, 3, 5, 2, 3]}]}}'>
                                    <!-- data-prefix="$" data-suffix="k"> -->
                                    <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                        <span class="d-none d-md-block" id="female">Females</span>
                                        <span class="d-md-none">W</span>
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <!-- Mauve one -->
                <div class="card-body" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="chart">
                        <canvas id="4" class="chart-canvas"></canvas>
                    </div>
                </div> 
                
            </div>
        </div>
        
        <div class="col-xl-4">
            <div class="card shadow" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Cas confirmés</h6>
                            <h2 class="mb-0">données par date</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body"style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="5" class="chart-canvas" width="600" height="600"></canvas>
                        <script>
                            var ctx = document.getElementById('5').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: {{date_all | safe}},
                                    datasets: [{
                                        label: 'cas confirmés',
                                        data: {{confirmedes  | safe}},
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <!-- Confirmed -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div>
                        <h5 class="card-title text-uppercase text-muted mb-0">Age: <span class="h2 font-weight-bold mb-0">{{latest_age.0.label}}</span></h5>
                            
                    </div>
                    <div><canvas id="myChartDone" ></canvas>
                        <script>
                            var ctx = document.getElementById('myChartDone').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: ['Confirmed', 'Death'],
                                    datasets: [{
                                        label: '# of Votes',
                                        data: [{{latest_age.0.confirmed}}, {{latest_age.0.deaths}}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: ''
                                    }
                                    }
                                },
                            });
                        </script> 
                    </div>   
                </div>
            </div>

        </div>
        <!-- Confirmed -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div>
                        <h5 class="card-title text-uppercase text-muted mb-0">Age: <span class="h2 font-weight-bold mb-0">{{latest_age.1.label}}</span></h5>
                            
                    </div>
                    <div><canvas id="myChartDone1" ></canvas>
                        <script>
                            var ctx = document.getElementById('myChartDone1').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: ['Confirmed', 'Death'],
                                    datasets: [{
                                        label: '# of Votes',
                                        data: [{{latest_age.1.confirmed}}, {{latest_age.1.deaths}}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: ''
                                    }
                                    }
                                },
                            });
                        </script> 
                    </div>   
                </div>
            </div>

        </div>
        <!-- Confirmed -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div>
                        <h5 class="card-title text-uppercase text-muted mb-0">Age: <span class="h2 font-weight-bold mb-0">{{latest_age.2.label}}</span></h5>
                            
                    </div>
                    <div><canvas id="myChartDone2" ></canvas>
                        <script>
                            var ctx = document.getElementById('myChartDone2').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: ['Confirmed', 'Death'],
                                    datasets: [{
                                        label: '# of Votes',
                                        data: [{{latest_age.2.confirmed}}, {{latest_age.2.deaths}}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: ''
                                    }
                                    }
                                },
                            });
                        </script> 
                    </div>   
                </div>
            </div>

        </div>
        
    </div>
    <br>
    <br>
    <div class="row">
        <!-- Confirmed -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div>
                        <h5 class="card-title text-uppercase text-muted mb-0">Age: <span class="h2 font-weight-bold mb-0">{{latest_age.3.label}}</span></h5>
                            
                    </div>
                    <div><canvas id="myChartDone3" ></canvas>
                        <script>
                            var ctx = document.getElementById('myChartDone3').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: ['Confirmed', 'Death'],
                                    datasets: [{
                                        label: '# of Votes',
                                        data: [{{latest_age.3.confirmed}}, {{latest_age.3.deaths}}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: ' '
                                    }
                                    }
                                },
                            });
                        </script> 
                    </div>  
                    
                </div>
            </div>

        </div>
        <!-- Confirmed -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div>
                        <h5 class="card-title text-uppercase text-muted mb-0">Age: <span class="h2 font-weight-bold mb-0">{{latest_age.4.label}}</span></h5>
                            
                    </div>
                    <div><canvas id="myChartDone4" ></canvas>
                        <script>
                            var ctx = document.getElementById('myChartDone4').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: ['Confirmed', 'Death'],
                                    datasets: [{
                                        label: '# of Votes',
                                        data: [{{latest_age.4.confirmed}}, {{latest_age.4.deaths}}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: ''
                                    }
                                    }
                                },
                            });
                        </script> 
                    </div>   
                </div>
            </div>

        </div>
        <!-- Confirmed -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div>
                        <h5 class="card-title text-uppercase text-muted mb-0">Age: <span class="h2 font-weight-bold mb-0">{{latest_age.5.label}}</span></h5>
                            
                    </div>
                    <div><canvas id="myChartDone5" ></canvas>
                        <script>
                            var ctx = document.getElementById('myChartDone5').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: ['Confirmed', 'Death'],
                                    datasets: [{
                                        label: '# of Votes',
                                        data: [{{latest_age.5.confirmed}}, {{latest_age.5.deaths}}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: ''
                                    }
                                    }
                                },
                            });
                        </script> 
                    </div>   
                </div>
            </div>

        </div>
        
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %} 
                <label for="">Choisir une wilaya : </label>
                <select name="wilaya" id="my_select" class="form-control form-control" >
                    <option value="1">Adrar</option>
                    <option value="2">Chlef</option>
                    <option value="3">Lagouate</option>
                    <option value="4">Oum El Bouaghi</option>
                    <option value="5">Batna</option>
                    <option value="6">Béjaïa</option>
                    <option value="7">Biskra </option>
                    <option value="8">Béchar </option>
                    <option value="9">Blida</option>
                    <option value="10">Bouira</option>
                    <option value="11">Tamanrasset </option>
                    <option value="12">Tébessa</option>
                    <option value="13">Tlemcen</option>
                    <option value="14">Tiaret</option>
                    <option value="15">Tizi Ouzou</option>
                    <option value="16">Alger</option>
                    <option value="17">Djelfa</option>
                    <option value="18">Jijel</option>
                    <option value="19">Sétif</option>
                    <option value="20">Saïda</option>
                    <option value="21">Skikda</option>
                    <option value="22">Sidi Bel Abbès</option>
                    <option value="23">Annaba</option>
                    <option value="24">Guelma</option>
                    <option value="25">Constantine</option>
                    <option value="26">Médéa</option>
                    <option value="27">Mostaganem</option>
                    <option value="28">M'Sila</option>
                    <option value="29">Mascara</option>
                    <option value="30">Ouargla</option>
                    <option value="31">Oran</option>
                    <option value="32">ElBayadh</option>
                    <option value="33">Illizi </option>
                    <option value="34">Bordj Bou Arreridj</option>
                    <option value="35">Boumerdès</option>
                    <option value="36">El Tarf</option>
                    <option value="37">Tindouf</option>
                    <option value="38">Tissemsilt</option>
                    <option value="39">El Oued </option>
                    <option value="40">Khenchela</option>
                    <option value="41">Souk Ahras</option>
                    <option value="42">Tipaza</option>
                    <option value="43">Mila</option>
                    <option value="44">Aïn Defla</option>
                    <option value="45">Naâma</option>
                    <option value="46">Aïn Témouchent</option>
                    <option value="47">Ghardaïa </option>
                    <option value="48">Relizane</option>
                </select>
                    <br>
                <button  type="submit" class="btn btn-outline-primary" id="selbutt">Valider</button>    
            </form>
        </div>
    </div>
    
    <br>
    
    <div class="row">
        <!-- Confirmed -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Confirmés</h5>
                            <span class="h2 font-weight-bold mb-0">{{wilaya.confirmed}}</span>

                        </div>

                        <div class="col-auto">
                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                <i class="fas fa-virus"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-success mr-2">Nouveaux<span class=" font-weight-bold">{{wilaya.newConfirmed}}</span> <br>
                            moyenne</span>
                        <span class="text-nowrap font-weight-bold">{{wilaya.avg7Confirmed}}</span>
                    </p>
                </div>
            </div>

        </div>
        <!-- Recoverd -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0"style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">guérison</h5>
                            <span class="h2 font-weight-bold mb-0">{{wilaya.recovered}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                <i class="fas fa-briefcase-medical"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-danger mr-2">Nouvelles<span class="font-weight-bold">{{wilaya.newRecovered}}</span> <br>
                            moyenne</span>
                        <span class="text-nowrap font-weight-bold">{{wilaya.avg7Recovered}}</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Deaths -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Décès</h5>
                            <span class="h2 font-weight-bold mb-0">{{wilaya.deaths}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                                <i class="fas fa-skull-crossbones"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-danger mr-2">Nouveaux <span class="font-weight-bold">{{wilaya.newDeaths}}</span> <br> moyenne</span>
                        <span class="text-nowrap font-weight-bold">{{wilaya.avg7Deaths}}</span>
                    </p>
                </div>
            </div>
        </div>
        
    </div>

    
    
    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}
<script>
    // mauve
    var ctx = document.getElementById('4').getContext('2d');  
     
    // male button
    $("#male").click(function(){
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{date_all | safe}},
                datasets: [{
                    label: '# Males',
                    data: {{males  | safe}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        })
        // female button
    $("#female").click(function(){
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{date_all | safe}},
            datasets: [{
                label: '# Females',
                data: {{females  | safe}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    })  
    
</script>


{% endblock javascripts %}