{% extends 'layouts/base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Listes {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            
            
        </div>
    </div>

</div>
<div >
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Tableau <strong> Critéres</strong></h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Users</th>
                    <th scope="col">ID</th>
                    <th scope="col">Critére</th>
                    <th scope="col">Dates</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for critere in criteres %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/avatar/avatar_masque.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ critere.user}}</span>
                        </div>
                      </div>
                    </th>
                    <td id="pk">
                      {{critere.get_pk}}
                    </td>
                    <td>
                      {{critere.name}}
                    </td>
                    {% comment %} TODO: i need options in tables {% endcomment %}
                    <td > 
                      <span class="mb-0 text-sm">{{critere.created_at}}</span>
                      <div class="text-right">
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

                            <button class="dropdown-item"  type="button" data-toggle="modal" data-target="#exampleModal{{critere.get_pk}}">Modifier</button>
                            <button class="dropdown-item"  type="button" data-toggle="modal" data-target="#deletteModal{{critere.get_pk}}">Suprimer</button>
                            
                          </div>
                        </div>
                      </div>
                      
                    </td>
                    
                  </tr>

                  <!-- update -->

                  <div class="modal fade" id="exampleModal{{critere.get_pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modifier Critére</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="" method="post"> 
                            {% csrf_token %}  
                        <input type="hidden" value= "{{critere.get_pk}}"  name= "id">
                        <div class="p-4 bg-secondary">
                          <input type="text" class="form-control form-control-alternative" placeholder="Entrer nom de critere" value="{{critere.name}}" name = "is">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" name = "add">Save changes</button>
                        </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- suprimer -->

                  <div class="modal fade" id="deletteModal{{critere.get_pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Suprimer Critére</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>voulez vous  suprimer <span class="fs-5">{{critere.name}}</span> </p>
                          <form action="" method="post"> 
                            {% csrf_token %}  
                        <input type="hidden" value= "{{critere.get_pk}}"  name= "id">
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                          <button type="submit" class="btn btn-primary" name = "delete">Oui </button>
                        </div>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                  </div>


                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- {% if crits_paginater.has_other_pages %}
            <ul class="pagination">
              {% if crits_paginater.has_previous %}
                <li><a href="?page={{ crits_paginater.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in crits_paginater.paginator.page_range %}
                {% if crits_paginater.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if crits_paginater.has_next %}
                <li><a href="?page={{ crits_paginater.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %} -->

          </div>
        </div>
      </div>
      <hr>

      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Tableau <strong> Altérnatives</strong> </h3>
            </div>
            
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Users</th>
                    <th scope="col">ID</th>
                    <th scope="col">Alternative</th>
                  </tr>
                </thead>
                <tbody>
                {% for altirnative in altirnatives %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/avatar/avatar_masque.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ request.user.username }}</span>
                        </div>
                      </div>
                    </th>
                    
                    <td>
                        <span class="mb-0 text-sm">{{altirnative.get_pk}}</span>
                    </td>
                    <td > 
                      <span class="mb-0 text-sm">{{altirnative.nom_vaccin}}</span> 
                      <div class="text-right">
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

                            <button class="dropdown-item"  type="button" data-toggle="modal" data-target="#exampleAlternativeModal{{altirnative.get_pk}}">Modifier</button>
                            <button class="dropdown-item"  type="button" data-toggle="modal" data-target="#deleteAlternativeModal{{altirnative.get_pk}}">Suprimer</button>

                          </div>
                        </div>
                      </div>
                    </td>
                    
                  </tr>

                  <!-- update -->

                  <div class="modal fade" id="exampleAlternativeModal{{altirnative.get_pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modifier Alternative</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="" method="post"> 
                            {% csrf_token %}  
                        <input type="hidden" value= "{{altirnative.get_pk}}"  name= "id_alt">
                        <div class="p-4 bg-secondary">
                          <input type="text" class="form-control form-control-alternative" placeholder="Entrer nom d'Alternative" value="{{altirnative.nom_vaccin}}" name = "is">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" name = "addAlternatve">Save changes</button>
                        </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- suprimer -->

                  <div class="modal fade" id="deleteAlternativeModal{{altirnative.get_pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Suprimer Alternative</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>voulez vous  suprimer <span class="fs-5">{{altirnative.nom_vaccin}}</span> </p>
                          <form action="" method="post"> 
                            {% csrf_token %}  
                        <input type="hidden" value= "{{altirnative.get_pk}}"  name= "id_del">
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                          <button type="submit" class="btn btn-primary" name = "deleteAlternative">Oui </button>
                        </div>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                  </div>


                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>


      <!-- Sous-Critere -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Tableu <strong> Sous critéres</strong></h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Users</th>
                    <th scope="col">ID</th>
                    <th scope="col">Sous critéres</th>
                    <th scope="col">Critéres</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for sub in subcriters %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/avatar/avatar_masque.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ sub.user}}</span>
                        </div>
                      </div>
                    </th>
                    <td id="pk">
                      {{sub.get_pk}}
                    </td>
                    <td>
                      {{sub.name}}
                    </td>
                    {% comment %} TODO: i need options in tables {% endcomment %}
                    <td > 
                      <span class="mb-0 text-sm">{{sub.critere.name}}</span>
                      <div class="text-right">  
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            
                            <button class="dropdown-item"  type="button" data-toggle="modal" data-target="#exampleSouModal{{sub.get_pk}}">Modifier</button>
                            <button class="dropdown-item"  type="button" data-toggle="modal" data-target="#deleteSouModal{{sub.get_pk}}">Suprimer</button>

                          </div>
                        </div>
                      </div>
                      
                    </td>
                    
                  </tr>

                  <!-- update -->

                  <div class="modal fade" id="exampleSouModal{{sub.get_pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modifier Sous-critére</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="" method="post"> 
                            {% csrf_token %}  
                        <input type="hidden" value= "{{sub.get_pk}}"  name= "id_alt">
                        <div class="p-4 bg-secondary">
                          <input type="text" class="form-control form-control-alternative" placeholder="Entrer nom d'Alternative" value="{{sub.name}}" name = "is">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" name = "addSub">Save changes</button>
                        </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- suprimer -->

                  <div class="modal fade" id="deleteSouModal{{sub.get_pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Suprimer Sous-critere</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>voulez vous  suprimer <span class="fs-5">{{sub.nom_vaccin}}</span> </p>
                          <form action="" method="post"> 
                            {% csrf_token %}  
                        <input type="hidden" value= "{{sub.get_pk}}"  name= "id_del">
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                          <button type="submit" class="btn btn-primary" name = "deleteAlternative">Oui </button>
                        </div>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                  </div>


                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- {% if crits_paginater.has_other_pages %}
            <ul class="pagination">
              {% if crits_paginater.has_previous %}
                <li><a href="?page={{ crits_paginater.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in crits_paginater.paginator.page_range %}
                {% if crits_paginater.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if crits_paginater.has_next %}
                <li><a href="?page={{ crits_paginater.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %} -->

          </div>
        </div>
      </div>

</div>

<!-- popup -->
<!-- Modal -->

    
    
{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% endblock javascripts %}
