{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            
        </div>
    </div>
</div>
<div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <form action="" method="post" enctype="multipart/form-data">
        <!-- {% csrf_token %}
        <input type="file" title="Upload excel file" name="excel_file" required="required">
        <input type="submit" value="Upload"> -->
        <div class="form-group">
            {% csrf_token %}
            <label for="exampleFormControlFile1">Promethee II Matrice de perfermance</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" accept=".csv" name="myfile">
            <label for="exampleFormControlFile1">Promethee II Weight</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" accept=".csv" name="myfile1">
            <br>
            <input type="submit" value="Upload">
        </div>
    </form>
    <br>
    {{hh}}
    <hr>
    {{liza}}
    <hr>
    {{zero}}
    <br>
    {{mat.as_table}}
    <br>
    <div>
        <canvas id="myChart" width="400" height="400"></canvas>
        

    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<!-- Chart JS script -->
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{liza | safe}},
            datasets: [{
                label: '# of Votes',
                data: {{zero | safe}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock javascripts %}