{% extends 'layouts/base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Shows {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            
            
        </div>
    </div>

</div>
<br>
<div class = "container-fluid" style ="margin-left: auto;margin-right: auto;display: block;">
    <div class="col-xl-8 mb-5 mb-xl-0">
    <!-- Checkbox -->
    <form action="" method="post" >
        {% csrf_token %}
        <h2>Criteres</h2>
        <p>choisir les critéres de selection a prendre en compte</p>
        <fieldset name = "criters"> 
        {% for criter in criters %} 
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCriCheck{{criter.id}}" value={{criter.get_name}} name="crits">
                <label class="custom-control-label" for="customCriCheck{{criter.id}}">{{criter}}</label>
            </div>
        {% endfor %}
        </fieldset>
    </div>
        <br>    
    <div class="col-xl-8 mb-5 mb-xl-0">
        <h2>Alternatives</h2>
        <p>selectioner les vaccins a comparer</p>
        <fieldset name="altes">
        {% for alternative in alternatives %} 
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customAltCheck{{alternative.id}}" value={{alternative.get_name}} name="alts">
                <label class="custom-control-label" for="customAltCheck{{alternative.id}}">{{alternative}}</label>
            </div>
            
        {% endfor %}
        </fieldset>
        <br></div> 
        <div class = "position-absolute" style="right: 80px">
            <button type="submit" class="btn btn-default px-3 my-2" name="check_box" style="width :135%">suivat</button>
        </div> 
        
      
    </form> 
<br> <br> <br>
    {% if messages %}
      {% for message in messages %}
      <!-- messages succes -->
          {% if message.tags == 'success'%}
          <!-- ALERT -->
          <div class="alert alert-success alert-dismissible fade show my-3" role="alert" style = "opacity:1;border: 5px;width :100%;">
            <span class="alert-icon"><i class="fas fa-check text-secondary"></i></span>
            <span class="alert-text"><strong>{{ message }}</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- Tables of criteres alternatives -->
            <div class ="">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class = "table-responsive">
                        <h3 class = "text-center">Table Critére-Altérnative</h3>
                        <div class = "row">
                            <div class = "col-8">
                                <div class="p-4 bg-secondary">
                                    <input type="text" class="form-control form-control-alternative" placeholder="Entrer Nom pour CSV file" name="mp_names" required>
                                </div>
                            </div>
                        </div>
                        <!-- Table critere -->
                        <table class = "table" name = "tl" border="1" id="exportMe">
                            {% for row in matrix %}
                                <tr>
                                {% for cell in row %}
                                    <div class = "row">
                                        {% if forloop.first or forloop.parentloop.first %} 
                                        <div class="col">
                                            <th> 
                                                <input type="text" class="form-control" READONLY id="{{forloop.counter0}} {{cell}}" name="cells" value={{cell}}>
                                            </th>
                                        </div>
                                        {% else %} 
                                        <div class="col">
                                            <td>
                                                <input type="number" class="form-control" step="0.1" min="0" id="" name="cells" value={{ cell }}>
                                            </td>  
                                        </div>  
                                        {% endif %}
                                    </div>    
                                {% endfor %}
                                </tr>
                            {% endfor %}    
                        </table>
                    </div>
                    <hr>
                    <!-- Table weight -->
                    <p>les poids doivent étre entre 0 et 1 </p>
                    <div class = "row">
                        <div class = "col-8">
                            
                        </div>
                    </div>
                    <div class = "table-responsive">
                        <table class = "table" name = "tl"  id="exportMe">
                            {% for row in weights %}
                                <tr>
                                    {% for cel in row %}
                                        <div class = "row">
                                            {% if forloop.first or forloop.parentloop.first %} 
                                            <div class="col">
                                                <th> 
                                                    <input type="text" class="form-control" disabled id="{{forloop.counter0}} {{cel}}" name="weights" value={{cel}}>
                                                </th>
                                            </div>
                                            {% else %} 
                                            <div class="col">
                                                <td>
                                                    <input type="number" step="0.1" min="0" max="1" class="form-control" id="" name="weights" value={{cel}}>
                                                </td>  
                                            </div>  
                                            {% endif %}
                                        </div>    
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div> <br>
                    <div class = "position-absolute" style="right: 50px">
                        <button type = "submit" class = "btn btn-primary my-2" name = "tablCancel">Annuler</button>    
                        <button type="submit" id="" class="btn btn-default my-2" name="tabl">
                            Terminer</button>
                    </div> 
                </form>
                <br><br><br>
            </div>
            {% if messages %}
                {% for message in messages %}
                
                {% endfor %}
            {% endif %}
         
         <!-- messages err -->
          {% elif message.tags == 'error'%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="fas fa-exclamation-triangle text-secondary"></i></span>
            <span class="alert-text"><strong>{{ message }}</strong> </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
          {% endif %}
      {% endfor %}
    {% endif %} 
    <br>   
{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% endblock javascripts %}
