{% extends 'layouts/base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Shows {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            
            
        </div>
    </div>

</div>
<div class = "container">
    <div class = 'row'>
        <div class ='col-8'>
            <form action="" method="post">
                {% csrf_token %}
             <div class="form-group">
                 <label for="exampleFormControlSelect1">Example select</label>
                 <select class="form-control" id="exampleFormControlSelect1" name="csv_name">
                   {% for nam in csv %}
                     <option value= {{nam.id}}>{{nam.name}}</option> 
                   {% endfor %}  
                 </select>
               </div>
               <div>
                   <button type="submit" class = 'btn btn-default' name="mp">Suivant</button>
               </div>
            </form> 
         </div>
    </div>
    
    <div>
        <h3>Tableau de Matrice de Perfermance(MP) :</h3>
            <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                        {% for x in array_Matrix_header %}
                           
                            <th scope="col">{{x}}</th>
                            
                        {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                  {% for y in array_Matrix_body  %}
                    <tr>
                      {% for i in y%}
                      <td>
                        <span class="mb-0 text-sm">{{i}}</span>
                    </td>
                      {% endfor %}
                  </tr>
                  {% empty %}
                  <tr>
                      <td colspan="7" class="text-center bg-Secondary">
                          <span class="mb-0 text-sm">aucune donnée n'est disponible</span>
                      </td>
                  </tr>    
                  {% endfor %}
                  </tbody>
                </table>
              </div>  


        <h3>Tableau du Poids(weight) :</h3>  
        <div class="table-responsive">
          <table class="table align-items-center  table-flush">
            <thead class="">
              <tr>
                  {% for x in array_Matrix_header %}   
                      <th scope="col">{{x}}</th>
                  {% empty %}
                  <th scope="col">aucune donnée n'est disponible</th>  
                  {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="mb-0 text-sm">weight</span>
                </td>
                {% for y in array_Matrix_weight_body%}
                <td>
                  <span class="mb-0 text-sm">{{y}}</span>
              </td>
              {% endfor %}
            </tr>
            </tbody>
          </table>
        </div>    
    </div>
    
    <br>
    <!-- AHP methode -->
    <div class = 'row'>
      <div class ='col-8'>
          <form action="" method="post">
              {% csrf_token %}
           <div class="form-group">
               <label for="exampleFormControlSelect1">Example select</label>
               <select class="form-control" id="exampleFormControlSelect1" name="ahp_name">
                 {% for nam in ahp_files %}
                   <option value= {{nam.id}}>{{nam.name}}</option> 
                 {% endfor %}  
               </select>
             </div>
             <div>
                 <button type="submit" class = 'btn btn-default' name="crit">Suivant</button>
             </div>
          </form> 
       </div>

      </div>
       <div>
        <h3>Tableau de Critére :</h3>
        <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                    {% for x in crit_header %}
                       
                        <th scope="col">{{x}}</th>
                        
                    {% endfor %}
                </tr>
              </thead>
              <tbody>
              {% for y in crit_body  %}
                <tr>
                  {% for i in y%}
                  <td>
                    <span class="mb-0 text-sm">{{i}}</span>
                </td>
                  {% endfor %}
              </tr>
              {% empty %}
              <tr>
                  <td colspan="7" class="text-center bg-Secondary">
                      <span class="mb-0 text-sm">aucune donnée n'est disponible</span>
                  </td>
              </tr>    
              {% endfor %}
              </tbody>
            </table>
          </div>  

       </div>
    
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% endblock javascripts %}
