{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
         {% comment %} hna kno Ctrl + X  {% endcomment %}
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Card tables: <strong>Criteres</strong></h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Users</th>
                    <th scope="col">Critere</th>
                    <th scope="col">Dates</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for critere in criteres %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/avatar/avatar_masque.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ request.user.username }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{critere.name}}
                    </td>
                    {% comment %} TODO: i need options in tables {% endcomment %}
                    <td > 
                      <span class="mb-0 text-sm">-</span>
                      <div class="text-right">
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">Update</a>
                          </div>
                        </div>
                      </div>
                      
                    </td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div> 
          </div>
        </div>
      </div>
      <!-- Dark table -->
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Card tables: <strong>Critere Subcritere</strong> </h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Users</th>
                    <th scope="col">Critere</th>
                    <th scope="col">Subcritere</th>
                    <th scope="col">Dates</th>
                  </tr>
                </thead>
                <tbody>
                {% for critere in criteres %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/avatar/avatar_masque.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ request.user.username }}</span>
                        </div>
                      </div>
                    </th>
                    
                    <td>
                      {{critere.name}}
                    </td>
                    <td > 
                      <span class="mb-0 text-sm">{{critere.get_subcriters}}</span> 
                    </td>
                    <td > 
                      <span class="mb-0 text-sm">{{critere.created_at}}</span>
                      <div class="text-right">
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">Update</a>
                          </div>
                        </div>
                      </div>
                      
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
{% comment %} TODO: createcarte containt detail of methods {% endcomment %}