{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
         
        </div>
      </div>
    </div>
    <!-- {{now}} -->
    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Card tables: <strong>Criteres</strong></h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Users</th>
                    <th scope="col">ID's</th>
                    <th scope="col">Critere</th>
                    <th scope="col">Dates</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for critere in criteres %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/avatar/avatar_masque.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ critere.user}}</span>
                        </div>
                      </div>
                    </th>
                    <td id="pk">
                      {{critere.get_pk}}
                    </td>
                    <td>
                      {{critere.name}}
                    </td>
                    {% comment %} TODO: i need options in tables {% endcomment %}
                    <td > 
                      <span class="mb-0 text-sm">{{critere.created_at}}</span>
                      <div class="text-right">
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" id="delete" type="button" href="{% url 'app:critere_list' %}">Delete</a>
                            <a class="dropdown-item" id="update" type="button" href="{% url 'app:critere_list' %}">Update</a>
                            <a class="dropdown-item" id="teste" type="button" href="{% url 'app:critere_list' %}">Tesdter</a>

                          </div>
                        </div>
                      </div>
                      
                    </td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
           {% if is_paginated %}
            <div class="card-footer py-4">
              
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% endif %}
                  <li class="page-item active">
                    <a class="page-link" href="#">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a>
                  </li>
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% endif %}
                </ul>
              </nav>
            </div> 
           
           {% endif %}
          </div>
        </div>
      </div>
      <!-- Dark table -->
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Card tables: <strong>Critere Subcritere</strong> </h3>
            </div>
            
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Users</th>
                    <th scope="col">Critere</th>
                    <th scope="col">Subcritere</th>
                    <th scope="col">Dates</th>
                  </tr>
                </thead>
                <tbody>
                {% for critere in criteres %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/avatar/avatar_masque.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ request.user.username }}</span>
                        </div>
                      </div>
                    </th>
                    
                    <td>
                    </td>
                    <td > 
                      <span class="mb-0 text-sm">{{critere.get_subcriters}}</span> 
                    </td>
                    <td > 
                      <span class="mb-0 text-sm">{{critere.created_at}}</span>
                      <div class="text-right">
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">Update</a>
                          </div>
                        </div>
                      </div>
                      
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
    <!-- TABLE -->
    <script>
      $(document).ready(function(){
            $("#delete").click(function(event){
               var id = $("#pk").text()   
              $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'app:critere_list' %}",
                data:{'te' : id},
                datatype: 'json',
                success: function(data) {
                  alert("successfully added to favorites")
                  }
              })            
            })
            // methode II
            $("#update").click(function(event){
              $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'app:critere_list' %}",
                data:{'tet' : 5},
                datatype: 'json',
                success: function(data) {
                  alert("successfully tester work")
                  }
              })            
            })
            // methode III
            $("#teste").click(function(event){
              $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'app:critere_list' %}",
                data:{'test' : 5},
                datatype: 'json',
                success: function(data) {
                  alert("successfully update work")
                  }
              })            
            })
            // END:
             });         
    </script>
    <!-- DARK TABLE -->
    <script>
      $(document).ready(function(){
        // METHODE I:
        
        // END;
      })
    </script>
      
      
{% endblock javascripts %}
{% comment %} TODO: createcarte containt detail of methods {% endcomment %}